<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">

  <meta name="theme-color" content="#F2A900">
  <meta name="msapplication-TileColor" content="#2B2620">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  {% include header.html %}

  <main class="content">
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>
